{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/accounts.css' %}">
</head>
<body>
    <nav>
        <div class="logo">
            <p>P-Polls</p>
        </div>
    </nav>
    <div class="form-box">
        <h3>Register</h3>
        <br>
        <form  method="POST">
            {% csrf_token %}
            <label>
                {% render_field form.username id="user" placeholder="Create username" %}
            </label>
            <br>
            <label>
                {{form.email}}
            </label>
            <br>
            <label>
                {% render_field form.password1 id="password1" placeholder="Create password" %}
            </label>
            <br>
            <label>
                {% render_field form.password2 id="password2" placeholder="Conform Password" %}
            </label>
            <br>
            <input id="register_button" type="submit" value="Sign Up" name="create_user">
            {% for error in form %}
              {{error.errors}}
            {% endfor %}
        </form>
    </div>
</body>
</html>